.u-section-3-1 {
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-3-1 .u-text-1 {
  font-family: Caveat;
  font-size: 4.5rem;
  margin: 262px 0 0;
}

.u-section-3-1 .u-text-2 {
  width: 837px;
  margin: 25px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-1 .u-text-2 {
    width: 340px;
  }
}.u-section-3-2 {
  background-image: none;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-3-2 .u-text-1 {
  font-family: Caveat;
  width: 745px;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-3-2 .u-text-2 {
  width: 837px;
  margin: 29px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3-2 .u-text-1 {
    width: 720px;
  }

  .u-section-3-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-3-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-3-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3-3 {
  background-image: none;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 660px;
}

.u-section-3-3 .u-text-1 {
  width: 745px;
  font-family: Caveat;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-3-3 .u-text-2 {
  width: 837px;
  margin: 33px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-3-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-3-3 .u-text-2 {
    width: 340px;
  }
}.u-section-3-4 {
  background-image: none;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 660px;
}

.u-section-3-4 .u-text-1 {
  font-family: Caveat;
  width: 745px;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-3-4 .u-text-2 {
  width: 837px;
  margin: 31px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3-4 .u-text-1 {
    width: 720px;
  }

  .u-section-3-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-3-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-3-4 .u-text-2 {
    width: 340px;
  }
}.u-section-3-5 {
  background-image: none;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 660px;
}

.u-section-3-5 .u-text-1 {
  width: 745px;
  font-family: Caveat;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-3-5 .u-text-2 {
  width: 837px;
  margin: 33px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3-5 .u-text-1 {
    width: 720px;
  }

  .u-section-3-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-3-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-3-5 .u-text-2 {
    width: 340px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 120px auto 120px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  object-position: 50% 0.68%;
  background-image: url("images/55046884.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 58px 23px 30px;
}

.u-section-1 .u-text-1 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 23px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 11px;
  margin-bottom: 11px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 545px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-2 {
  margin: 25px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: 251px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-4 {
  margin: 25px auto 0 0;
}

.u-section-2 .u-image-2 {
  height: 251px;
  margin-top: 20px;
  margin-bottom: 0;
  object-position: 50% 44.4%;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 449px;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    height: 325px;
  }

  .u-section-2 .u-image-2 {
    height: 325px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 256px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 158px;
  }

  .u-section-2 .u-image-2 {
    height: 158px;
  }
}.u-block-d7d0-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-d7d0-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -10px);
  width: 65px;
  height: 65px;
  top: 267px;
  right: auto;
}

.u-block-d7d0-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 268px;
  right: calc(((100% - 1140px) / 2)  + -13px);
}

@media (max-width: 1199px) {
  .u-block-d7d0-3 {
    left: calc(((100% - 940px) / 2)  + -8px);
  }

  .u-block-d7d0-4 {
    right: calc(((100% - 940px) / 2)  + -11px);
  }
}

@media (max-width: 991px) {
  .u-block-d7d0-3 {
    left: calc(((100% - 720px) / 2)  + -6px);
  }

  .u-block-d7d0-4 {
    right: calc(((100% - 720px) / 2)  + -8px);
  }
}

@media (max-width: 767px) {
  .u-block-d7d0-3 {
    left: calc(((100% - 540px) / 2)  + -4px);
  }

  .u-block-d7d0-4 {
    right: calc(((100% - 540px) / 2)  + -6px);
  }
}

@media (max-width: 575px) {
  .u-block-d7d0-3 {
    left: calc(((100% - 340px) / 2)  + -3px);
  }

  .u-block-d7d0-4 {
    right: calc(((100% - 340px) / 2)  + -4px);
  }
}.u-section-4 .u-sheet-1 {
  min-height: 660px;
}

.u-section-4 .u-text-1 {
  margin: 45px 484px 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 968px;
  margin: -26px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 543px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 9px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 9px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 9px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 9px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 384px;
    margin-right: 384px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: -27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 274px;
    margin-right: 274px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 62px;
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 752px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 4px;
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 4px;
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 4px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 184px;
    margin-right: 184px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 84px;
    margin-right: 84px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 660px;
}

.u-section-5 .u-slider-1 {
  min-height: 406px;
  width: 1020px;
  margin: 128px auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-family: Caveat;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 29px 311px 0;
}

.u-section-5 .u-carousel-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 50px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-family: Caveat;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 25px 311px 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-5 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 211px;
    margin-left: 211px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 211px;
    margin-left: 211px;
  }

  .u-section-5 .u-carousel-control-2 {
    left: auto;
    right: 0;
    position: absolute;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 151px;
    margin-left: 151px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 121px;
    margin-left: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-slider-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 81px;
    margin-left: 81px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 51px;
    margin-left: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-slider-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 0;
    top: auto;
    position: absolute;
    right: auto;
    bottom: 158px;
  }

  .u-section-5 .u-carousel-control-2 {
    top: auto;
    bottom: 158px;
  }
}